<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="http://db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script>
        window.onload = function() {
          var context = new AudioContext();
        }
        </script>
        <title>PokeDex</title>
    </head>
    <body>
        <main>
          <!--
            <audio id="audio-player" autoplay loop>
              <source src="/static/johto-champ-bgm.mp3" type="audio/mp3">
            </audio>

          -->
            <iframe src="/static/johto-champ-bgm.mp3" allow="autoplay" style="display:none" id="iframeAudio"></iframe>
            <h1>PokeDex</h1>
            <h3>via PokeAPI</h3>
            <div id="app"></div>
        </main>
    </body>
</html>
